html {
  box-sizing: border-box;
  font-size: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 10rem;
  @media only screen and (max-width: 900px) {
    padding: 0 min(10%, 3rem);
  }
}
